<div class="grid">
  <div class="col-4">
    <p-card header="Pacientes registrados" subheader="200">
      <div class="p-d-flex p-flex-column">
        <div class="p-mb-3" *ngFor="let visit of recentVisits">
          <p-avatar label="A" styleClass="p-mr-2"></p-avatar>
          {{ visit }}
        </div>
      </div>
      </p-card>
  </div>
  <div class="col-4">
    <p-card header="Visitas recientes" subheader="3">
      <div class="p-d-flex p-flex-column">
        <div class="p-mb-3" *ngFor="let visit of recentVisits">
          <p-avatar label="A" styleClass="p-mr-2"></p-avatar>
          {{ visit }}
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Próximas citas" subheader="3">
      <div class="p-d-flex p-flex-column">
        <div class="p-mb-3" *ngFor="let visit of recentVisits">
          <p-avatar label="A" styleClass="p-mr-2"></p-avatar>
          {{ visit }}
        </div>
      </div>
      </p-card>
  </div>
  <div class="col-6">
      <p-card header="% de pacientes atendidos recientemente">
          <p-chart type="bar" [data]="horizontalBarChartData" [options]="horizontalBarChartOptions"></p-chart>
      </p-card>
    </div>
    <div class="col-6">
      <p-card header="Top 5 patologías que solicitan atención nutricional">
        <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart>
      </p-card>
    </div>
  </div>
  