<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">PACIENTES</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nombre">Nombre</th>
                        <th pSortableColumn="ocupacion">Ocupación </th>
                        <th pSortableColumn="edad">Edad </th>
                        <th pSortableColumn="genero">Género</th>
                        <th pSortableColumn="telefono">Teléfono</th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Nombre</span>
                            {{product.nombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Ocupación</span>
                            {{product.ocupacion}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Edad</span>
                            {{product.edad}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Género</span>
                            {{product.genero}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Teléfono</span>
                            {{product.telefono}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)">
                                </button>

                                <button pButton type="button" label="Importar" icon="pi pi-upload" (click)="fileInput.click()"></button>
                                <input #fileInput type="file" style="display: none;" (change)="onUpload($event)"/>


                                <p-dialog [(visible)]="displayModal" [modal]="true" [responsive]="true"
                                    [style]="{width: '45vw'}">
                                    <div class="grid">
                                        <div class="col-12">
                                            <label for="name">Buscar por nombre:</label>
                                            <input id="name" type="text" pInputText [(ngModel)]="name" />
                                        </div>

                                        <div class="col-12">
                                            <button pButton type="button" label="Actualizar datos con la ficha de HL7"
                                                icon="pi pi-refresh" (click)="updateData()"></button>
                                        </div>

                                        <div class="col-6">
                                            <h5>Datos del paciente en el sistema:</h5>
                                            <div><strong>Nombre:</strong> José María Morelos</div>
                                            <div><strong>Ocupación:</strong> tal</div>
                                            <div><strong>Edad:</strong> 51</div>
                                            <div><strong>Género:</strong> M</div>
                                            <div><strong>Número de teléfono:</strong> 2721283490</div>
                                        </div>
                                        <div class="col-6">
                                            <h5>Ficha formato HL7:</h5>
                                            <div><strong>Nombre:</strong> José María Morelos</div>
                                            <div><strong>Ocupación:</strong> tal</div>
                                            <div><strong>Edad:</strong> 50</div>
                                            <div><strong>Género:</strong> M</div>
                                            <div><strong>Número de teléfono:</strong> 2721283490</div>
                                        </div>
                                    </div>
                                    <p-footer>
                                        <button type="button" pButton icon="pi pi-check" (click)="displayModal=false"
                                            label="Finalizar importación"></button>
                                    </p-footer>
                                </p-dialog>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nuevo Paciente" [modal]="true"
            class="p-fluid">
            <div class="field grid">
                <label htmlFor="name" class="col-12 mb-2 md:col-2 md:mb-0"><b>Nombre:</b></label>
                <div class="col-12 md:col-10">
                    <input type="text" pInputText id="nombre" [(ngModel)]="product.nombre" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.nombre}" />
                </div>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.nombre">Nombre es requerido</small>
            </div>

            <br>
            <div class="field grid">
                <label htmlFor="ocupacion" class="col-12 mb-2 md:col-3 md:mb-0"><b>Ocupación: </b></label>
                <div class="col-3 md:col-9">
                    <input type="text" pInputText id="ocupacion" [(ngModel)]="product.ocupacion" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.ocupacion}" />
                </div>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.ocupacion">Ocupación es
                    requerida</small>
            </div>

            <br>
            <div class="field grid">
                <label htmlFor="name" class="col-12 mb-2 md:col-2 md:mb-0"><b>Edad:</b></label>
                <div class="col-12 md:col-10">
                    <input type="text" pInputText id="name" [(ngModel)]="product.edad" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.edad}" />
                </div>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.edad">Edad es requerida</small>
            </div>

            <br>
            <div class="flex align-items-center gap-4">
                <label class="mb-3"><b>Género:</b></label>
                <div class="flex align-items-center">
                    <p-radioButton id="M" name="genero" value="masculino" [(ngModel)]="product.genero"></p-radioButton>
                    <label for="M"> Masculino</label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton id="F" name="genero" value="femenino" [(ngModel)]="product.genero"></p-radioButton>
                    <label for="F"> Femenino</label>
                </div>
            </div>

            <br>
            <div class="field grid">
                <label htmlFor="name" class="col-12 mb-2 md:col-2 md:mb-0"><b>Teléfono:</b></label>
                <div class="col-12 md:col-10">
                    <input type="text" pInputText id="telefono" [(ngModel)]="product.telefono" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.telefono}" />
                </div>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.telefono">Teléfono es requerido</small>
            </div>



            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">¿Estás seguro que quieres borrar a <b>{{product.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>